* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #e3ddc5;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_layout {
  background-color: #84594f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  padding: 1.5rem;
  box-shadow: -7px 7px 7px  rgba(0,0,0,0.6);
  -moz-box-shadow: -7px 7px 7px  rgba(0,0,0,0.6);
  -webkit-box-shadow: -7px 7px 7px  rgba(0,0,0,0.6);
  -o-box-shadow: -7px 7px 7px  rgba(0,0,0,0.6);
  border-radius: 25px;
}

.form_title {
  margin-bottom: 1rem;
  color: #e3ddc5;
  font-family: "Dancing Script";
  font-weight: bold;
  font-size: 2rem;
}

.textField {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 18rem;
  padding: 0.5rem;
  font-family: "Questrial";
  font-size: 1rem;
  border-color: #ead8c2;
  color: #543f3f;
  background-color: #ead8c2;
}

.textArea {
  margin-top: 1rem;
  margin-bottom: 1rem;
  resize: none;
  width: 18rem;
  height: 20vh;
  padding: 0.5rem;
  font-family: "Questrial";
  font-size: 1rem;
  border-color: #ead8c2;
  color: #543f3f;
  background-color: #ead8c2;
  line-height: 1.5rem;
  scrollbar-width: thin;
}

.textLabel {
  color: #e3ddc5;
  font-family: "Indie Flower";
  font-weight: bold;
  font-size: 1.25rem;
  text-align: left;
}

.textTips {
  margin-top: 0.5rem;
  color: #e3ddc5;
  font-family: "Questrial";
  font-size: 0.8rem;
}

.savebtn {
  cursor: pointer;
  border-radius: 0.625rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #eb8b1e;
  border-color: #eb8b1e;
  font-family: "Questrial";
  font-size: 1rem;
  color: #e3ddc5;
  transition: 0.5s ease;
  font-weight: bold;
}

.savebtn:hover {
  color: #543f3f;
  background-color: #eec863;
  border-color: #eec863;
  transform: scale(1.1);
}

.errors {
  margin-bottom: 1rem;
  color: #e3ddc5;
  font-family: "Questrial";
  font-size: 0.8rem;
}

.category_layout {
  position: fixed;
  top: 3vh;
  left: 0vw;
  background-color: #ad3725;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  padding: 1rem;
  box-shadow: -5px 5px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: -5px 5px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: -5px 5px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: -5px 5px 5px  rgba(0,0,0,0.6);
  border-radius: 25px;
}

.logo_cat {
  cursor: pointer;
  position: fixed;
  top: 2vh;
  left: 1vw;
  width: 10rem;
}

.organize_cat {
  position: fixed;
  z-index: -5;
  left: 61vw;
  top: 5vh;
  width: 35rem;
}

.board_cat {
  position: fixed;
  z-index: -5;
  left: 3vw;
  top: 40vh;
  width: 25rem;
}
