* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #e3ddc5;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_layout {
  background-color: #84594f;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  padding: 1.5rem;
  box-shadow: -7px 7px 7px  rgba(0,0,0,0.6);
  -moz-box-shadow: -7px 7px 7px  rgba(0,0,0,0.6);
  -webkit-box-shadow: -7px 7px 7px  rgba(0,0,0,0.6);
  -o-box-shadow: -7px 7px 7px  rgba(0,0,0,0.6);
}

.form_title {
  margin-bottom: 1rem;
  color: #e3ddc5;
  font-family: "Dancing Script";
  font-weight: bold;
  font-size: 2rem;
}

.textField {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 18rem;
  padding: 0.5rem;
  font-family: "Questrial";
  font-size: 1rem;
  color: #ead8c2;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #ead8c2;
}

.textField::placeholder, .textArea::placeholder,
.textField::-ms-input-placeholder, .textArea::-ms-input-placeholder
{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}

.textArea {
  margin-top: 1rem;
  margin-bottom: 1rem;
  resize: none;
  width: 18rem;
  height: 5rem;
  padding: 0.5rem;
  font-family: "Questrial";
  font-size: 1rem;
  color: #ead8c2;
  background-color: #ead8c2;
  line-height: 1.5rem;
  scrollbar-width: thin;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #ead8c2;
}

.textLabel {
  color: #e3ddc5;
  font-family: "Indie Flower";
  font-weight: bold;
  font-size: 1.25rem;
  text-align: left;
}

.textTips {
  margin-top: 0.5rem;
  color: #e3ddc5;
  font-family: "Questrial";
  font-size: 0.8rem;
}

.savebtn {
  cursor: pointer;
  border-radius: 0.625rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #009ab1;
  border-color: #009ab1;
  font-family: "Questrial";
  font-size: 1rem;
  color: #ead8c2;
  transition: 0.5s ease;
  font-weight: bold;
  width: 18rem;
}

.savebtn:hover {
  transform: scale(1.1);
}

.errors {
  margin-bottom: 1rem;
  color: #e3ddc5;
  font-family: "Questrial";
  font-size: 0.8rem;
}

.category_layout {
  position: fixed;
  background-color: #ad3725;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: auto;
  max-height: 12rem;
  padding: 1rem;
  box-shadow: -5px 5px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: -5px 5px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: -5px 5px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: -5px 5px 5px  rgba(0,0,0,0.6);
  border-radius: 25px;
}

.cat_title {
  margin-bottom: 1rem;
  color: #e3ddc5;
  font-family: "Dancing Script";
  font-weight: bold;
  font-size: 1.75rem;
}

.cat_scroll {
  width: 95%;
  height: auto;
  max-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scrollbar-width: thin;
  overflow-y: auto;
  overflow-x: hidden;
}

.list_text {
  margin-bottom: 0.5rem;
  color: #e3ddc5;
  font-family: "Questrial";
  font-weight: bold;
  font-size: 1rem;
}

.logo_cat {
  cursor: pointer;
  position: fixed;
  top: 2vh;
  left: 1vw;
  width: 10rem;
}

.add_layout_cat {
  border-radius: 25px;
  justify-content: center;
}

.update_layout_cat {
  position: fixed;
  justify-content: center;
  top: 12vh;
  left: 3vw;
  border-radius: 25px;
}

.add_list_cat {
  top: 10vh;
  left: 73vw;
}

.update_list_cat {
  top: 57vh;
  left: 35vw;
}

.form_layout_task {
  position: fixed;
  background-color: #84594f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 105vh;
  padding: 1rem;
  box-shadow: -7px 7px 7px  rgba(0,0,0,0.6);
  -moz-box-shadow: -7px 7px 7px  rgba(0,0,0,0.6);
  -webkit-box-shadow: -7px 7px 7px  rgba(0,0,0,0.6);
  -o-box-shadow: -7px 7px 7px  rgba(0,0,0,0.6);
}

.add_layout_task {
  top: -5vh;
  left: 60vw;
}

.update_layout_task {
  top: -5vh;
  left: 15vw;
}

.form_title_task {
  margin-bottom: 0.5rem;
  color: #e3ddc5;
  font-family: "Dancing Script";
  font-weight: bold;
  font-size: 1.75rem;
}

.textField_task {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  width: 18rem;
  padding: 0.5rem;
  font-family: "Questrial";
  font-size: 1rem;
  color: #ead8c2;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #ead8c2;
}

.textArea_task {
  margin-top: 1rem;
  margin-bottom: 1rem;
  resize: none;
  width: 18rem;
  height: 5rem;
  padding: 0.5rem;
  font-family: "Questrial";
  font-size: 1rem;
  color: #ead8c2;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #ead8c2;
  line-height: 1.5rem;
  scrollbar-width: thin;
}

.textLabel_task {
  color: #e3ddc5;
  font-family: "Indie Flower";
  font-weight: bold;
  font-size: 1.25rem;
}

.textTips_task {
  margin-top: 0.5rem;
  color: #e3ddc5;
  font-family: "Questrial";
  font-size: 0.8rem;
}

.savebtn_task {
  cursor: pointer;
  border-radius: 0.625rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 18rem;
  background-color: rgb(64,46,50);
  border-color: rgb(64,46,50);
  font-family: "Questrial";
  font-size: 1rem;
  color: #e3ddc5;
  transition: 0.5s ease;
  font-weight: bold;
}

.savebtn_task:hover {
  transform: scale(1.1);
}

.textField_user {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  width: 13rem;
  padding: 0.5rem;
  font-family: "Questrial";
  font-size: 1rem;
  color: #543f3f;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #543f3f;
}

.textLabel_user {
  color: #543f3f;
  font-family: "Indie Flower";
  font-weight: bold;
  font-size: 1.25rem;
  text-align: left;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.organize_cat {
  position: fixed;
  z-index: -5;
  left: -3vw;
  top: 5vh;
  width: 35rem;
}

.board_cat {
  position: fixed;
  z-index: -5;
  left: 67vw;
  top: 40vh;
  width: 25rem;
}

.update_post {
  position: fixed;
  z-index: -5;
  left: 55vw;
  top: 15vh;
  width: 35rem;
}

.filing {
  position: fixed;
  z-index: -5;
  left: 30vw;
  top: -5vh;
  width: 25rem;
}

.add_task {
  position: fixed;
  z-index: -5;
  left: 10vw;
  top: 5vh;
  width: 35rem;
}

.update_task {
  position: fixed;
  z-index: -5;
  left: 50vw;
  top: 0vh;
  width: 40rem;
}

.signup_img {
  position: fixed;
  z-index: -5;
  left: 45vw;
  top: 0vh;
  width: 40rem;
}

.login_img {
  position: fixed;
  z-index: -5;
  left: 10vw;
  top: 0vh;
  width: 40rem;
}

.form_layout_user {
  border: 0.25rem solid#543f3fb6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  padding: 1.5rem;
}

.form_title_user {
  margin-bottom: 1rem;
  color: #543f3f;
  font-family: "Dancing Script";
  font-weight: bold;
  font-size: 2rem;
}

.add_layout_user {
  position: fixed;
  justify-content: center;
  top: 10vh;
  left: 20vw;
  border-radius: 25px;
}

.add_layout_login {
  position: fixed;
  justify-content: center;
  top: 20vh;
  left: 55vw;
  border-radius: 25px;
}

.errors_user {
  margin-bottom: 1rem;
  color: #543f3f;
  font-family: "Questrial";
  font-size: 0.8rem;
}

.login {
  cursor: pointer;
  border-radius: 0.625rem;
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  background-color: #d59d5d;
  border-color: #d59d5d;
  font-family: "Questrial";
  font-size: 1rem;
  color: #543f3f;
  transition: 0.5s ease;
  font-weight: bold;
  width: 13rem;
}

.login:hover {
  background-color: #eec863;
  border-color: #eec863;
  transform: scale(1.1);
}

.signup {
  cursor: pointer;
  border-radius: 0.625rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #746881;
  border-color: #746881;
  font-family: "Questrial";
  font-size: 1rem;
  color: #ead8c2;
  transition: 0.5s ease;
  font-weight: bold;
}

.signup:hover {
  color: #ead8c2;
  background-color: #614377;
  border-color: #614377;
  transform: scale(1.1);
}

.link_txt_log {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: "Questrial";
  font-weight: 500;
  color: #ff7141;
  transition: 0.5s ease;
}

.link_txt_log:hover {
  color: #db4412;
}

.link_login {
  font-weight: bold;
}

.link_txt_sign {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: "Questrial";
  font-weight: 500;
  color: #746881;
  transition: 0.5s ease;
}

.link_txt_sign:hover {
  color: #5c4377;
}

.link_sign_up {
  font-weight: bold;
}

.textTips_user {
  margin-top: 0.5rem;
  color: #543f3f;
  font-family: "Questrial";
  font-size: 0.8rem;
}
